# Folders
build/
bin/windows-x86_64/RadianceEngine/
bin/windows-x86_64/Timbre/

# Extensions
**.raw

# Visual Studio files and folder
**.pdb
**.idb
.claude/
.vs/
.vscode/
**.sln
**.slnx
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj